<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MICHELLADAS</title>

    <link rel="stylesheet" th:href="@{/css/michelladas.css}">
    <script th:src="@{/js/michelladas.js}"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <img th:src="@{/imagenes/Logo.svg}" alt="Logo" width="40" height="40">
                    <a class="nav-link active ms-2" href="/" th:text="#{header.home}">Home</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item underline"><a class="nav-link " href="#productos" >Michelladas</a></li>
                        <li class="nav-item underline"><a class="nav-link " href="#contactanos" th:text="#{header.contactanos}">Contáctanos</a></li>
                        <li th:if="${#authorization.expression('hasRole(''USUARIO'')')}">
                            <a class="nav-link underline" th:href="@{/pedido/historial}" th:text="#{header.mispedidos}">Mis Pedidos</a>
                        </li>
                        <!-- Si NO está autenticado -->
                        <li th:if="${not #authorization.expression('isAuthenticated()')}">
                            <a class="nav-link underline" th:href="@{/login}" th:text="#{header.iniciarSesion}">Iniciar sesión</a>
                        </li>
                        <li th:if="${not #authorization.expression('isAuthenticated()')}">
                            <a class="nav-link underline" th:href="@{/register}" th:text="#{header.registrarse}">Registrarse</a>
                        </li>

                        <!-- Si está autenticado -->
                        <li th:if="${#authorization.expression('hasRole(''USUARIO'') or hasRole(''ADMIN'')')}">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <span sec:authentication="name">Usuario</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <form th:action="@{/logout}" method="post">
                                            <button type="submit" class="dropdown-item" th:text="#{boton.cerrar_sesion}">Cerrar sesión</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <form method="get">
                    <select name="lang" onchange="this.form.submit()" class="form-select form-select-sm">
                        <option value="es" th:selected="${#locale.language == 'es'}">Es</option>
                        <option value="en" th:selected="${#locale.language == 'en'}">En</option>
                        <option value="ca" th:selected="${#locale.language == 'ca'}">Ca</option>
                    </select>
                </form>

            </div>
        </nav>
    </div>
</header>

<!-- Banner -->
<div class="card text-bg-dark">
    <picture>
        <!-- Versión móvil (hasta 900px) -->
        <source th:srcset="@{/imagenes/bannercel.png}" media="(max-width: 900px)" class="card-img" alt="playa">
        <!-- Versión escritorio (901px en adelante) -->
        <img th:src="@{/imagenes/imageneditadabanner.png}" class="card-img" alt="playa">
    </picture>
    <div class="card-img-overlay text-overlay">
        <h1 class="card-title" th:text="#{banner.titulo}">BIENVENIDO</h1>
        <h2 class="card-text" th:text="#{banner.subtitulo}">ENCUENTRA NUESTROS PRODUCTOS AQUÍ</h2>
        <div class="michellada-container">
            <img th:src="@{/imagenes/imagenbanner.svg}" alt="Michellada" class="michellada-img">
            <div class="logo-wrapper bounce">
                <img th:src="@{/imagenes/Logo.svg}" id="logo" alt="Logo" class="logo-overlay bounce">
            </div>
        </div>
    </div>
</div>


<!-- Productos -->
<section id="productos">
    <h2 class="nuestros-productos fw-bold" th:text="#{productos.titulo}">NUESTROS PRODUCTOS</h2>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4" th:each="producto : ${productos}">
                <div class="card h-100 shadow-sm rounded-4 overflow-hidden">
                    <img th:src="@{/imagenes/{img}(img=${producto.imagen})}" class="card-img-top">
                    <div class="card-body">
                        <h4 class="product-card-title" th:text="${producto.nombre}"></h4>
                        <p class="product-card-text" th:text="${producto.descripcion}"></p>
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <p class="fw-bold">$<span th:text="${producto.precio}"></span></p>
                            </div>

                            <div class="col-auto ms-auto">
                                <a th:if="${#authorization.expression('isAuthenticated()')}"
                                   th:href="@{/carrito/agregar/{id}(id=${producto.id})}"
                                   class="btn-product">Agregar al carrito</a>
                                <a th:if="${not #authorization.expression('isAuthenticated()')}" th:href="@{/login}" class="btn-product">Inicia sesión </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<section id="contactanos">
    <footer class="footer-container">
        <div class="footer-content">
            <div class="footer-section">
                <h4 th:text="#{footer.sobre_nosotros}">SOBRE NOSOTROS</h4>
                <p th:text="#{footer.texto}">Somos un emprendimiento creado con mucho amor y ganas de superarnos.</p>
            </div>
            <div class="footer-section">
                <h4 th:text="#{footer.contactanos}">CONTÁCTANOS</h4>
                <p><i class="bi bi-telephone"></i> +57 324 5644770 - +57 300 7949756</p>
                <p><i class="bi bi-geo-alt"></i> SAHAGUN - CORDOBA</p>
                <div class="redes">
                    <a href="https://wa.me/573245644770" target="_blank"><i class="bi bi-whatsapp"></i></a>
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-instagram"></i>
                </div>
            </div>
            <div class="footer-section logo-footer">
                <img th:src="@{/imagenes/Logo.svg}" alt="Logo Michelladas">
            </div>
        </div>
    </footer>
</section>

<!-- Botón flotante del carrito -->
<div th:if="${#authorization.expression('isAuthenticated()')}">
    <a th:href="@{/carrito}" class="boton-carrito" title="Ver carrito">
        <i class="bi bi-cart3"></i>
        <span class="contador-carrito" id="contadorCarrito">0</span>
    </a>
</div>

</body>
</html>
